/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body */
body {
    background: #5F4F94;
    padding: 1.25em;
}

/* Contenido de la cabecera */
.content-header {
    width: 100%;
    max-width: 400px;
    margin-top: 6em;
    text-align: center;
    margin: auto;
}

.content__logo {
    width: 7.5em;
    height: 7.5em;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

/* Imágen de la cabecera */
.content__logo img {
    width: 100%;
    height: 100%;
}

/* Título de la cabecera */
.content-header h1 {
    font-weight: 100;
    color: #fff;
    margin-top: 1.25em;
}

/* Parrafo de la cabecera */
.content-header p {
    margin-top: 2.5em;
    color: #A1ADCC;
}


/* Content main */
main {
    max-width: 1000px;
    background: #fff;
    padding: 2em;
    margin: auto;
    margin-top: 2.5em;
    border-radius: 8px;
}

.content-main {
    width: 100%;
}

.content__img {
    width: 100%;
    text-align: center;
}

.content__img img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}

.content__text {
    width: 100%;
    text-align: center;
}
.content__text h1 {
    margin-top: 2.5em;
    font-weight: 100;
    text-align: center;
}

/* Línea de arcoiris */
hr {
    width: 6.25em;
    height: 3px;
    margin: 1.25em auto;
    border-style: none;
    background: -webkit-linear-gradient(left, red, blue, #82B2EE);
    background: -moz-linear-gradient(left, red, blue, #82B2EE);
    background: -o-linear-gradient(left, red, blue, #82B2EE);
}

.content__text p {
    margin-top: 1.25em;
    color: #63637B;
    letter-spacing: 1px;
}

/* Botón del main*/
.content__button {
    width: 12.5em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 2.5em auto;
    cursor: pointer;
}


/* Services */
.services {
    width: 100%;
    text-align: center;
}

.services h1 {
    font-weight: 100;
}

.services__details {
    width: 100%;
}

.services__detail {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.icon__detail {
    width: 12.5em;
    height: 12.5em;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    margin: 2.5em auto;
}

.icon__detail span {
    font-size: 5em;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 46px;
    margin: auto;
}

.services__detail h4 {
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 1.25em;
}

.services__detail p {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #877D7D;
}

/* Palette */
.palette {
    width: 100%;
    text-align: center;
}

.palette h1 {
    font-weight: 100;
}

.palette p {
    letter-spacing: 1px;
    color: #877D7D;
}

.palette__statistics {
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.palette__item {
    width: 100%;
    max-width: 17em;
    margin: auto;
    padding: 2.5em;
    color: #fff;
}

.palette__item span {
    font-size: 5em;

}

.item1 {
    background: #EFA8BE;
    border-radius: 10px 10px 0 0;
}

.item2 {
    background: #C79CC8;
}

.item3 {
    background: #A89CC8;
}

.item4 {
    background: #9BB2E1;
}

.item5 {
    background: #8CC9F0;
    border-radius: 0 0 10px 10px;
}

.palette__item h4 {
    font-weight: 100;
    margin-top: 1.25em;
    font-size: 1.2em;
}

.palette__item p {
    color: #fff;
}

.palette__paragraph {
    text-align: justify;
}

/* End */
.end {
    width: 100%;
    text-align: center;
}

.end h1 {
    font-weight: 100;
}

.end p {
    margin-top: 1.25em;
    font-size: 1.25em;
    color: #877D7D;
}

.end__button {
    margin: 2.5em;
    display: flex;
    justify-content: center;
}
.end__button button {
    width: 12.5em;
    height: 3.7em;
    background: #8CC9F0;
    border-style: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    margin: auto;
    cursor: pointer;
    transform: opacity 300ms;
}

.end__button button:hover {
    opacity: .8;
}

.end__button--read {
    width: 12.5em;
    height: 3.7em;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

/* Media queris*/

@media screen and (min-width: 800px) {

    /* Content Main */
    .content-main {
        display: flex;
        flex-direction: row-reverse;
    }

    .content__img {
        width: 70%;
    }

    .content__img img {
        float: right;
        width: 18em;
        height: 18em;
    }

    /* Services */
    .services__details {
        display: flex;
    }

    /* Estadisticas */
    .palette__statistics {
        display: flex;
    }

    .palette__statistics span {
        font-size: 2.5em;
    }

    .item1 {
        border-radius: 10px 0 0 10px;
    }

    .item5 {
        border-radius: 0 10px 10px 0;
    }

    /* Final */
    .end {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
}

